*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: cursive;
    user-select: none;
}
html,body{
    width: 100%;
    height: 100%;
}
.main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: rgb(174, 217, 186);
}
.panel{
    height: 80%;
    width: 80%;
    background-color: aliceblue;
    border-radius: 12px;
    overflow: hidden;
}
.ptop{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    width: 100%;
    height: 100px;
    background-color: rgb(44, 83, 44);
}
.elem{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.elem h2{
    font-size: 22px;
    font-weight: 500;
}
.box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-color: white;
    color: green;
    font-size: 21px;
    font-weight: 700;
}
.pbtm{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    width: 100%;
    height: calc(100% - 100px);
    padding: 1.5% 3%;
}
.bubble{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 60px;
    background-color: darkred;
    color: white;
    border-radius: 50%;
    transition: all linear 0.1s;
    cursor: pointer;
}
.bubble:active{
    scale: 0.8;
    background-color: rgb(255, 0, 0);
}

.gameOver{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.gameOver h1{
    color: red;
    font-size: 60px;
}
.gameOver p{
    color: green;
    font-size: 30px;
    background-color: rgb(197, 255, 194);
    padding: 2px 10px;
    border-radius: 10px;
}



@media (max-width:600px){
    .panel{
        height: 100%;
        width: 100%;
        border-radius: 0px;
        overflow: scroll;
    }
    .panel::-webkit-scrollbar{
        display: none;
    }
    .ptop{
        position: sticky;
        top: 0px;
        left: 0px;
        right: 0px;
        gap: 10vw;
        height: 19vw;
    }
    .elem{
        gap:2vw
    }
    .elem h2{
        font-size: 4.5vw;
    }
    .box{
        height: 10vw;
        width: 10vw;
        font-size: 5vw;
    }
    .pbtm{
        padding-top: 20px;
        height: calc(100% - 19vh);
    }
    .bubble{
        height: 11vw;
        width: 11vw;
    }
}
